{% extends "opconsole_baselayout.html" %}
{% block content %}
    <p>
        <h3>Author</h3>
        Hello, my name is David Clignez. I've wrote this program because I think that every small enterprise could afford to use a cheap timestamp system.
        Currently working as Security Engineer I'd in telo industry I want to thank you for using this program and do not hesitate to send me feedbacks at
        David.clignez(at)gmail.com.
        <br>
        If you are interested by participating in this project, go to github : <a href="https://github.com/baalkor/timetracking">TimeTracking</a>
    </p>
    <p>
        <h3>FAQ</h3>
    </p>
    <p>
        <h3>Licensing</h3>
    </h3>
    <div>

    </div>
{% endblock %}