{% extends "opconsole_baselayout.html" %}
{% block content %}
    <p>
        <img style="position: relative;left:45%;z-index:1;" class="img-circle" src="/static/img/author.jpg">
        <h3>About the author</h3>
        Dear reader, my name is David Clignez. I've wrote this program because I think that every small enterprise could afford to use a cheap timestamp system.
        Currently working as Security Engineer I'd in telo industry I want to thank you for using this program and do not hesitate to send me feedbacks at
        David.clignez(at)gmail.com.
        <br>
        If you are interested by participating in this project, go to github : <a href="https://github.com/baalkor/timetracking">TimeTracking</a>
    </p>
    <p>
        <h3>FAQ</h3>
        <ul class="list-unstyled">
            <li><b>How to adapt time computation according to the enterprise/labor policies ?</b> <i>Computation will be adjustable later, for the moment time will not take in account them</i></li>
            <li><b>What type of devices will be supported ?</b> <i>Firstly only web timestamp will be allowed, research will be done on Android SmartPhones</i></li>
            <li><b>How much will cost this program ?</b> <i>Pricing will be set after a test phase and will dependend of the business model choosed</i></li>
            <li><b>Is this program open-source?</b> <i>Yes, as long as you respect the apache 2 license</i></li>
            <li><b>Who represent this program ?</b> <i>Me, David Clignez is the initial developper</i></li>

        </ul>
    </p>
    <p>
        <h3>Licensing</h3>
        The LICENSE and NOTICE files are available at the top of the installation dir. Howver the project is under Apache 2 license.
        <a href="http://www.apache.org/licenses/LICENSE-2.0.txt" target="_blank"> Read license </a>
        <h3>Third party licensing</h3>
        <table class="table">
            <thead>
                <th>Component</th>
                <th>Version</th>
                <th>License</th>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://www.djangoproject.com/">Python</a></td>
                    <td>2.7.13</td>
                    <td><a target="_blank" href="https://www.python.org/download/releases/2.7/license/">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="https://www.djangoproject.com/">Django</a></td>
                    <td>1.11</td>
                    <td><a target="_blank" href="https://raw.githubusercontent.com/django/django/master/LICENSE">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="http://www.django-rest-framework.org/">djangorestframework</a></td>
                    <td>3.6.2</td>
                    <td><a target="_blank" href="http://www.django-rest-framework.org/#license">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="https://getbootstrap.com/">Bootstrap</a></td>
                    <td>3.3.7</td>
                    <td><a target="_blank" href="https://v4-alpha.getbootstrap.com/about/license/">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="https://pypi.python.org/pypi/pytz">pytz</a></td>
                    <td>2017.2</td>
                    <td><a target="_blank" href="https://pypi.python.org/pypi/pytz">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="https://jquery.org/">JQuery</a></td>
                    <td>1.11.1</td>
                    <td><a target="_blank" href="https://jquery.org/license/">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="https://jqueryui.com/">JQuery-UI</a></td>
                    <td>1.12.0</td>
                    <td><a target="_blank" href="https://raw.githubusercontent.com/jquery/jquery-ui/master/LICENSE.txt">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/js-cookie/js-cookie">js-cookie</a></td>
                    <td>2.1.4</td>
                    <td><a target="_blank" href="https://raw.githubusercontent.com/js-cookie/js-cookie/master/MIT-LICENSE.txt">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="http://spin.js.org/">spin.js</a></td>
                    <td>2.3.2</td>
                    <td><a target="_blank" href="https://raw.githubusercontent.com/fgnass/spin.js/master/LICENSE.md">Watch</a></td>
                </tr>
                <tr>
                    <td><a href="http://tether.io/">tether.js</a></td>
                    <td>1.4.0</td>
                    <td><a target="_blank" href="https://github.com/HubSpot/tether/blob/master/LICENSE">Watch</a></td>
                </tr>
            </tbody>
        </table>
    </h3>
    <div>

    </div>
{% endblock %}