   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SmartTime</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

          {% if user.is_authenticated  %}
            <ul class="nav navbar-nav navbar-center">
              {% include "navbar-menus/ddr-timesheets.html" %}
            {% if user.is_staff  %}
              {% include "navbar-menus/ddr-areas.html" %}
              {% include "navbar-menus/ddr-users.html" %}
              {% include "navbar-menus/ddr-devices.html" %}
            {% endif %}
            </ul>
          {% endif %}



          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated  %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
              {% include "navbar-menus/ddr-user.html"  %}
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>