{% extends "opconsole_baselayout.html" %}

{% block content %}

  <h2>Device information</h2>
  <form method="post">

    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Update</button><button class="btn" id='requestSuperCookie' onclick="requestSuperCookie();">Get supercookie again!</button>
  </form>
  <span id="error"></span>



{% endblock %}

{% block footer %}
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/deviceDetails.js"></script>
{% endblock %}