{% extends "opconsole_baselayout.html" %}
{% load duration %}
{% block content %}
<table class="table">
    <thead>
        <th>
            <select id="year">
                {% for y in years %}
                    <option value="{{y}}">{{y}}</option>
                {% endfor %}
            </select>
            <button class="btn" onclick="setyear();">Go</button>
        </th>
        <th>Employee</th>
        {% for month in months %}
            <th>{{month}}</th>
        {% endfor %}

        <th>Total</th>

    </thead>
    <tbody>
    {% for key, val in timesheets.items %}


        <tr>

            <td colspan="2"><a href="/user/{{key}}">{{val.fullname}}</a></td>
            {% for key, values in val.months.items  %}
            <td>
                {% if not values.inserted|divisibleby:2  %}
                    <span class=" glyphicon glyphicon-time" alt="Warning!Invalid number of timestamps"></span>
                {% else %}
                {{ values.time|duration }}
                {% endif %}
            </td>

            {% endfor %}
            <td>{{val.total|duration}} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}