{% extends "opconsole_baselayout.html" %}
{% block head %}
     <link href="/static/css/zones-editor.css" rel="stylesheet">
{% endblock %}
{% block content %}

  <h2>Timestamp detail :</h2>

  <form method="post">
    {% csrf_token %}
    <ul class="list-unstyled">
      <li>{{ object.user.user.username }}</li>
      <li>{{ object.device.name }}</li>
      <li>{{ object.recptTime |date:"Y-m-d H:i" }}</li>
      <li>{{ object.time |date:"Y-m-d H:i"  }}</li>
      <li>{{ object.devTz }}</li>
    </ul>
  </form>
  <div id="map"></div>


{% endblock %}

{% block footer %}
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/showtimestamps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&libraries=places&callback=initMap" async defer></script>
{% endblock %}