{% extends "opconsole_baselayout.html" %}

{% block content %}


  <form method="post">

    <table class="table">
    <thead>
      <tr>
        <td align="right"><h2>Sign in</h2></td>
        <td align="center"><img style="position:absolute;" src="/static/img/64x64/login.png" /></td>

      </tr>
      </thead>
      <tbody>
      {% csrf_token %}
      {{ form.as_table }}
      </tbody>
    <tr>
      <td></td>
    <td>
      <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok-circle"></span> Login</button>
      <button class="btn btn-secondary" type="reset"><span class="glyphicon glyphicon-remove-circle"></span>Reset</button>
    </td>
  </tr>
  </form>

{% endblock %}