{% extends "opconsole_baselayout.html" %}
{% block head %}
     <link href="/static/css/zones-editor.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <h1 class="mt-5">Employee {{ object.user.last_name }}, {{ object.user.first_name }} </h1>
    <ul>
         <form action="" method="post">{% csrf_token %}
             <ul>
                 <li><b>E-Mail : </b>{{ object.user.email }}</li>
                 {{ form.as_ul }}
             </ul>
            <input type="submit" value="Update" />
        </form>

    </ul>
{% endblock %}