{% extends "opconsole_baselayout.html" %}
{% block head %}
     <link href="/static/css/zones-editor.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col">
            <button type="button"  id="btnNewZone" class="btn btn-default" onclick="newZone();">Draw zone</button>
            <button type="button"  id="btnClearZone" class="btn btn-default" onclick="clearZone();">Clear zone</button>
            <button type="button"  id="btnSaveZone" class="btn btn-default" onclick="saveZone();">Save zone</button>
            <div id="map"></div>
        </div>
    </div>
{% include "dialogs/opconsonsole_zones_new.html" %}

{% endblock %}

{% block footer %}
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/opconsole_zones_editor.js"></script>
    <script async defer  src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap"></script>
{% endblock %}