{% extends "opconsole_baselayout.html" %}

{% block content %}
<h2>Timesheet for {{ fullname }} the <i>{{ currentDate|date:"Y-m-d" }}</i></h2>
    <input type='text' id='datechooser' /><button class="btn" onclick="showDateAt();">Go</button>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Device</th>
            <th>Recieved</th>
            <th>Time</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for timestamp in timestamps %}
                <tr>
                    <td>{{ timestamp.device.name }}</td>
                    <td>{{ timestamp.recptTime |date:"Y-m-d H:i" }}</td>
                    <td>{{ timestamp.time |date:"Y-m-d H:i"  }}</td>
                    <td>
                        {% if timestamp.status == '0' %}
                            SUCCESS
                        {% elif imestamp.status == '1' %}
                            REFUSED_WRONG_TZ
                        {% elif timestamp.status == '2' %}
                            REFUSED_DEV_DATA_MISMATCH
                        {% elif imestamp.status == '3' %}
                            REFUSED_NOT_IN_ZONE
                        {% elif timestamp.status == '4' %}
                            USER_DEACTIVATED
                        {% else  %}
                            DEVICE_DEACTIVATED
                        {% endif %}

                    </td>
                    <td><a href="/timestamp/{{ timestamp.id }}">Watch</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if hasWebDevice %}
        <button id="timestamp" class="btn btn-primary btn-lg" onclick="webTimestamp();">Timestamp now!</button>
        <b><span id="error"></span></b>
    {% else %}

            Your current profile doesn't include any web device, ask your support team to initialize a new one.
    </p>
    {% endif %}
{% endblock %}
{% block footer %}
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/jquery.query-object.js"></script>
    <script src="/static/js/mytimesheet.js"></script>
    <script src="/static/js/webtimestamps.js"></script>
{% endblock %}