{% extends "opconsole_baselayout.html" %}

{% block content %}
<table class="table">
    <thead>
        <th>
            <select id="year">
                {% for y in years %}
                    <option value="{{y}}">{{y}}</option>
                {% endfor %}
            </select>
            <button class="btn" onclick="setyear();">Go</button>
        </th>
        <th>Employee</th>
        {% for column in cols %}
            <th><a href="/timesheets/?scope=month&months={{column}}">{{column}}</a></th>
        {% endfor %}

        <th>Total</th>

    </thead>
    <tbody>
    {% with timesheets as tmps %}
        {% if scope == "annualy" %}
            {% include "dialogs/timesheet_annualy.html" %}
        {% endif %}
    {% endwith %}
    </tbody>
</table>
{% endblock %}