{% extends "opconsole_baselayout.html" %}

{% block content %}
   <h1 class="mt-5">My timesheet</h1>
    <table class="table table-bordered">
        <thead>
            <th>Device</th>
            <th>Recieved</th>
            <th>Time</th>
            <th>Device timezone</th>
            <th>Coordinate</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for timestamp in timestamps %}
                <tr>
                    <td>{{ timestamp.device }}</td>
                    <td>{{ timestamp.recptTime }}</td>
                    <td>{{ timestamp.time |date:"m/j/Y H:i"  }}</td>
                    <td>{{ timestamp.devTz }}</td>
                    <td>{{ timestamp.latitude }}|{{ timestamp.longitude }}</td>
                    <td>{{ timestamp.status }}</td>
                    <td><a href="/timesheet/{{ timestamp.id }}">Watch</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if hasWebDevice %}
        <button id="timestamp" class="btn btn-primary btn-lg" onclick="webTimestamp();">Timestamp now!</button>
        <b><span id="error"></span></b>
    {% else %}

            Your current profile doesn't include any web device, ask your support team to initialize a new one.
    </p>
    {% endif %}
{% endblock %}