{% extends "opconsole_baselayout.html" %}

{% block content %}
    <h1 class="mt-5">Employees liste</h1>
    <table class="table table-bordered">
        <thead>
            <th>first name</th>
            <th>last name</th>
            <th>username</th>
            <th>email</th>
            <th></th>
            <th></th>



        </thead>
        <tbody>
            {% for employee in object_list %}
                <tr>

                    <td>{{ employee.user.first_name }} </td>
                    <td>{{ employee.user.last_name }} </td>
                    <td>{{ employee.user }} </td>
                    <td>{{ employee.user.email }} </td>
                    <td><a href="/user/{{ employee.id }}">Watch</a></td>
                    <td><a href="/timesheet/{{ employee.id }}">Timesheet</a></td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}