{% extends "opconsole_baselayout.html" %}
{% block head %}
    <script  defer=false src="/static/js/js.cookie.js"></script>
    <script  defer=false src="/static/js/csrf.js"></script>
    <script  defer=false src="/static/js/deviceDetails.js"></script>
{% endblock %}
{% block content %}

  <h2>Device information</h2>
  <form method="post">

    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Update</button>
  </form>
<button class="btn" id='requestSuperCookie' onclick="requestSuperCookie();">Get supercookie again!</button><br><span id="error"></span>



{% endblock %}

