{% extends "opconsole_baselayout.html" %}

{% block content %}
<h3>Odd timestamp count</h3>
Only successful timestamps are takent into account.
<table class="table">
    <thead>
      <th>User</th>
      <th>Date</th>
      <th>Count</th>
      <th>Watch</th>

    </thead>
{% for tms in anomalies %}

    <tr>
      <td><a href="{% url 'user-detail' tms.user__id %}">{{ tms.user__user__last_name }}, {{tms.user__user__first_name }}</a></td>
      <td>{{ tms.year }}-{{ tms.month|stringformat:"02d" }}-{{ tms.day|stringformat:"02d" }}</td>
      <td>{{ tms.nbTimb }}</td>
      <td> <a href="/mytimesheet/?userId={{tms.user__id}}&date={{ tms.year }}-{{ tms.month }}-{{ tms.day }}">Watch</a></td>
    </tr>
{% endfor%}
</table>

{% endblock %}