{% extends "opconsole_baselayout.html" %}

{% block content %}
    <h1 class="mt-5">Zone list</h1>
    <table class="table table-bordered">
        <thead>
            <th>Zone name</th>

            <th>active</th>


        </thead>
        <tbody>
            {% for zone in object_list %}
                <tr>
                    <td><a href="/zones/{{ zone.id }}">{{ zone.name }}</a></td>

                    <td>{{ zone.active|yesno }} </td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}