{% extends "opconsole_baselayout.html" %}

{% block content %}

  <h2>Initialize device</h2>
  Device type :
  <select id="devType" onchange="showFormForType();">
    <option value="-1" default=""> </option>
    {% for dt in devType %}
      <option value="wizard_{{ dt.1 }}">{{dt.1}}</option>
    {% endfor %}
  </select>

  {% for p,i in wizardList %}
    <div  class="formWizard" id="wizard_{{i}}">
      {% include p %}
    </div>
    {% endfor %}

  <input type="hidden" id="employeeId" value="{{employee.id}}" />

{% endblock %}

{% block footer %}
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/add_device.js"></script>
{% endblock %}