{% extends "opconsole_baselayout.html" %}

{% block content %}

  <h2>Device information [{{ form.id }}]</h2>
  <form method="post">

    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
  </form>

<button class="btn" onclick="getDevType();">Get supercookie again!</button>


{% endblock %}

{% block footer %}
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/csrf.js"></script>
    <script src="/static/js/deviceDetails.js"></script>
{% endblock %}