{% load static %}
<script src="{% static 'jquery/dist/jquery.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
<script src="{% static 'tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'jquery-query-object/jquery.query-object.js' %}"></script>
<script src="{% static 'ie10-viewport-bug-workaround.js/ie10-viewport-bug-workaround.js' %}"></script>

<script src="{% static 'opconsole_dashboard.js' %}"></script>
<script src="{% static 'opconsole_csrf.js' %}"></script>
<script src="{% static 'opconsole_device_assign_zone.js' %}"></script>
<script src="{% static 'opconsole_webtimestamps.js' %}"></script>
<script src="{% static 'opconsole_mytimesheet.js' %}"></script>
<script src="{% static 'opconsole_add_device.js' %}"></script>
<script src="{% static 'opconsole_zone.js' %}"></script>
<script src="{% static 'opconsole_zones_editor.js' %}"></script>
<script src="{% static 'opeconsole_device_details.js' %}"></script>
<script src="{% static 'opconsole_timestamps.js' %}"></script>