<script src="/static/nodes_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="/static/nodes_modules/tether/dist/tether.min.js"></script>
<script src="/static/nodes_modules/js/js.cookie.js"></script>
<script src="/static/js/csrf.js"></script>
<script src="/static/js/jquery.query-object.js"></script>
<script src="/static/js/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" />
<script src="/static/js/js.cookie.js"></script>
<script src="/static/js/csrf.js"></script>
<script src="/static/js/menus.js"></script>
<script  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="  crossorigin="anonymous"></script>
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>