<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Clignez David">
        <title>{{ title|default:"SmartTime"}}</title>
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
        {% include "css-include.html" %}
        {% include "js-include.html" %}
        {% block head %}{% endblock %}
    </head>

    <body>

        {% include "navbar.html" %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>





        <footer class="footer">
            <div class="fcontainer">

            {% block footer %}

            {% endblock %}
            </div>
        </footer>

    </body>

</html>