{% extends "opconsole_baselayout.html" %}
{% load duration %}
{% block head %}
    <script language="JavaScript">
        $( document ).ready(function() {
            initWebTimestampJS();
            computeDuration();
            initMyTimeSheetJS();
        });
    </script>
{% endblock %}
{% block content %}
<h2>Timesheet for {{ fullname }} the <i>{{ currentDate|date:"Y-m-d" }}</i></h2>
    <label for="gotodate">Move to date :</label>
    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
        <input id='gotodate' type="text" class="form-control" onchange="updateDate($(this).val());">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>
    {% if errors %}
        <div class="alert alert-warning">
          <strong>Warning!</strong> {{ errors }}
        </div>
    {% endif %}
    {% include "dialogs/opconsole_mytimesheet_table.html" %}

    <p>
        <ul class="list-unstyled">
            <li>Total hours  : <b>{{totalHours.0|duration}}</b></li>
            <li>Pause hours  : <b>{{totalHours.1|duration}}</b></li>
            <li>Remainig days: <b>{{remainingHoliday}}</b></li>
        </ul>
    </p>


    {% if hasWebDevice %}
        <button id="timestamp" class="btn btn-primary btn-lg" onclick="webTimestamp();">Timestamp now!</button>
        <b><span id="error"></span></b>
    {% else %}
        Your current profile doesn't include any web device, ask your support team to initialize a new one.
    {% endif %}



{% endblock %}
