{% extends "opconsole_baselayout.html" %}

{% block content %}
 <div class="row">
        <div class="col-xs-6 col-md-4">
            <h3>Working hours / pause break</h3>
            <div id="wkshour"></div>
        </div>
        <div class="col-xs-6 col-md-4">

        </div>
        <div class="col-xs-6 col-md-4">
            <h3>Manual / normal request</h3>
        </div>
 </div>
<div class="row">
        <div class="col-xs-6 col-md-4">
            <h3>Core hours</h3>
        </div>
        <div class="col-xs-6 col-md-4">
            <h3>Request denied</h3>
        </div>
 </div>
<div class="row">
        <div class="col-xs-6 col-md-4">
            <h3>Holiday - Remaing</h3>
        </div>
        <div class="col-xs-6 col-md-4">
            <h3>Supplementary hours</h3>
        </div>
        <div class="col-xs-6 col-md-4">
            <h3>Geomap of timestamps</h3>
        </div>
 </div>
{% endblock %}

{% block footer %}

{% endblock %}