{% extends "opconsole_baselayout.html" %}
{% block head %}
    <script language="JavaScript">
        $(document).ready(function() {
            setUpCSRFHeader();
        });
    </script>
{% endblock %}
{% block content %}
    <h1 class="mt-5">Zone {{ object.name }} </h1>
    <table class="table table-bordered">
        <thead>

            <th>North west latitude</th>
            <th>North west longitude</th>
            <th>South west latitude</th>
            <th>South west longitude</th>
            <th></th>
        </thead>
        <tbody>

                <tr>

                    <td>{{ object.x1 }} </td>
                    <td>{{ object.y1 }} </td>
                    <td>{{ object.x2 }} </td>
                    <td>{{ object.y2 }} </td>
                    <td><button type="button" class="btn" onclick="removeZone();">Remove</button> </td>

                </tr>
                <tr>
                   <td colspan="5">
                    <div id="map"></div>
                    </td>
                </tr>
        </tbody>
    </table>
{% endblock %}

{% block footer %}
    <script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlXMWGO1qTvsWIxo0W5bUloL0HzknfuOY&callback=initMap"></script>
{% endblock %}