<div id="dialog-absense"  style="display:None;">
    Starts from :
    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
        <input id='from' type="text" class="form-control absence-data">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>
    <div class="input-group-addon">to</div>
    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
        <input id='to' type="text" class="form-control absence-data">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>
    Leaving :
    <select class="absence-data" id="departure">
        <option value="08:00:00">All day</option>
        <option value="12:00:00">Mid-day</option>
    </select>
    Returning :
    <select class="absence-data" id="arrival">
        <option value="08:00:00">All day</option>
        <option value="12:00:00">Mid-day</option>
    </select>
    <table class="table">
        <thead>
            <th>Reason</th>
            <th>Justification</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul class="list-unstyled">
                        {% for abType in absencesType %}
                            <li>
                                <div class="radio">
                                    <label><input id="{{ abType.1 }}" class="absence-data-radio" type="radio" name="optabsences" value="{{ abType.0 }}">{{ abType.1 }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <textarea id="absense_justification" class="absence-data">
                        Please enter your justificaion
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn" onclick="$('#dialog-absense').toggle();$('#btnAddAbsence').toggle();">Back</button>
                </td>
                <td>
                    <button class="btn" onclick="sendabsenceRequest({{employeeId}});">Send request</button>
                </td>
        </tr>
        </tbody>
    </table>
</div>
