<div id="dialog-absense"  style="display:None;">
    Starts from :
    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
        <input id='gotodate' type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>
	    <div class="input-group-addon">to</div>
    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
        <input id='gotodate' type="text" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>
    Leaving :
    <select id="departure">
        <option value="ALL">All day</option>
        <option value="MID">Mid-day</option>
    </select>
    Returning :
    <select id="arrival">
        <option value="ALL">All day</option>
        <option value="MID">Mid-day</option>
    </select>
    Reason:
    <ul class="list-unstyled">
    {% for abType in absencesType %}
        <li>
            <div class="radio">
                <label><input type="radio" name="optabsences">{{ abType.1 }} </label>
            </div>
        </li>
    {% endfor %}
    </ul>
    <button class="btn" onclick="$('#dialog-absense').toggle();$('#btnAddAbsence').toggle();">Back</button>
</div>
