<div id="dialog-manual" class="init-dialog">
    <p class="validateTips">All form fields are required.</p>
    <div class="input-group date" data-provide="datepicker">
        <input id='manual_date' type="text" class="form-control manual-data">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>
    Hour : <input id="manual_time" type="time" value="12:00:00" />
    <button class="btn" onclick="$('#dialog-manual').toggle();$('#btnManual').toggle();">Back</button>
    <button class="btn" onclick="sendmanualRequest({{employeeId}});">Send request</button>

</div>