<button id="btnReqCode" class="btn btn-primary" onclick="requestWebCode();">Request code</button>

<div id="broswerCode" style="display:None">

    <ul class="list-unstyled">

        <li><label for="code">Please enter the following code : <span id="lblCode"></span></label></li>
        <li>Init date : <input readonly="true" type="text" id="initDate"/></li>
        <li>Friendly name : <input type="text" id="name" /></li>
        <li><input type="text" id="code"/></li>
        <li><input type="hidden" id="devId"/></li>

        <li><button class="btn" onclick="initDevice();">Validate this station</button></li>
        <li><span id="error"></span></li>
    </ul>

</div>
